doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title Porn Soundtracks

		meta(itemprop="name", content="Éliane Radigue: The Mysterious Power Of The Infinitesimal | Red Bull Music Academy Daily")
		meta(itemprop="description", content="XXXXXXXXXXXXXXXXX")
		meta(itemprop="image", content="http://daily.redbullmusicacademy.com/specials/eliane-radigue/images/eliane-arp.jpg")

		meta(name="description", content="XXXXXXXXXXX")

		//-FB
		meta(property="og:title", content="Éliane Radigue: The Mysterious Power Of The Infinitesimal | Red Bull Music Academy Daily")
		meta(property="og:description", content="An in-depth look at the music of the early electroacoustic composer.")
		meta(property="og:type", content="article")
		meta(property="og:url", content="http://daily.redbullmusicacademy.com/specials/eliane-radigue/")
		meta(property="og:image", content="http://daily.redbullmusicacademy.com/specials/eliane-radigue/images/eliane-arp.jpg")
		meta(property="og:site_name", content="Red Bull Music Academy Daily")
		meta(property="fb:admins", content="100006789941377")

		//-Twitter
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@rbma")
		meta(name="twitter:title", content="Éliane Radigue: The Mysterious Power Of The Infinitesimal | RBMA Daily")
		meta(name="twitter:description", content="An in-depth look at the music of the electroacoustic composer")
		meta(name="twitter:creator", content="@rbma")
		meta(name="twitter:image:src", content="http://daily.redbullmusicacademy.com/specials/eliane-radigue/images/eliane-arp.jpg")


		link(rel="author", href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher", href="https://plus.google.com/+RBMA")

		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

	body
		nav.main-nav#nav
			a.logo(href="http://daily.redbullmusicacademy.com")
			a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy

			.social
				a.share-icon.facebook(data-site="facebook")
				a.share-icon.twitter(data-site="twitter")

		
		//- Fixed pos popup container
		.popup-container#popup-container
			.popup-message#popup
				.exit#exit
				.popup-col
				.message#message
				.button-container#buttons
					button YES
					button NO

		//- Fixed warning container
		.warning#warning
			.eighteen
				h1 18+
			.adults-only
				h2 Warning! Adults Only!
			
			.eighteen-message
				h3 This article is NSFW

			div(style="clear:both")

			.final-message
				h2 By clicking the below button, you confirm that you are at least 18 years old and want to read the best article ever written about porn soundtracks
			
			.continue
				button#advance Continue To Site

		
		//- Main
		.container#container
			.title-canvas#title
				.video-overlay
					.hot
					.stereo
					.xxx
					h2.subheadline An Intro To Erotic Film Music
				

				img.title-1(src="images/title-1.png", draggable="false")
				img.title-2(src="images/title-2.png", draggable="false")

			
				
			.body-container
				.intro
					p.
						The history of porn music goes way beyond boom chikka bow bow and wakka-chikka wakka-chikka cliches. Technical innovation, electronic experiments, strange sidetrips, Ennio Morricone, and even the Muppets play a part in the development of erotic film soundtracks. Marke B. guides you past the canned moans and awkward dialogue, into a world of sonic seduction. 

				p.
					Porn, especially old-school porn from the golden age of the 1970s and ’80s, may call up images of lurid voyeurism, cheesy encounters and superhuman physical entanglements. But behind the badly dubbed lines and excruciating acting lay a world of adult erotic film auteurs who took themselves seriously as directors and producers, especially when it came to the soundtrack, that aspirational benchmark of film production. 
				p.
					It wasn’t all flailing flangers and overused wah-wahs. As with indie films today, lack of budget led to ingenuity – and sometimes a bit of theft-as-homage – throwing open the backdoor to innovations in sampling, dubbing, studio techniques and electronic production. Even now, online porn producers are changing the way we hear (fake) sex.

				.video-outer.video-left
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/Y0duA3b4g_Q")
					.video-caption La Coucher de Mariee, 1896

				p.
					From their very start in the silent era, erotic films were obsessed with music and dance. 1896’s <I><a href=https://www.youtube.com/watch?v=Y0duA3b4g_Q>La Coucher de Mariee</a></i>, was a cheerful, shimmying striptease performed by French cabaret star Louise Willey. That same year, <i><a href=https://www.youtube.com/watch?v=AxLJJK_ZQyM>Fatima’s Coochie Coochie Dance</a></i> featured forcefully suggestive, scandalously clad Syrian bellydancer Fatima Djemille, and was one of the first films to be censored. 
				p.
					Distributed internationally by founding film fathers like Thomas Edison and the Pathe Brothers, these minute-long pulse-quickeners sparked a celluloid explosion of Kinetoscopic peep flicks in the early 20th century, exhibited everywhere from grand theaters to state fairs. 

				p.
					The advent of sound films, however, coincided with a rise in film content censorship, at least in America. The stultifying <a href=https://en.wikipedia.org/wiki/Motion_Picture_Production_Code>Hays Code</a> rendered most erotic films mute for decades, denying anything even vaguely arousing access to big money Hollywood equipment, production and distribution. Until the early 1960s (and beyond, in the case of gay films), erotic movies were limited to short, silent reels that could be looped at stag parties or passed hand-to-hand for basement and backroom viewing parties. 

				p.
					But three huge developments were about to usher in a wild new era of porno popularity: the explosion of softcore European “art films” (along with their art-film music), the rise of advanced home movie technology and the creation of an adult cinema circuit throughout the United States. 


				.pop-ad.style1(data-title="HEY SEXY!!!!",
					data-msg="Looks like you’re hard enough already. Close this window to learn about the early days of porno music",
					data-img="images/edits/21.jpg")
					.pop-ad-text
						h2 Part 1: Teasing The Porno Groove
						h4 Keep it going all night long!
						button Click Here To Find Out How!!!
					.pop-ad-image
						img(src="images/edits/9.jpg")

				p.
					As the Hays Code faded in the 1960s and the sexual revolution’s first stirrings were felt, the appetite for porn films grew. A new circuit of adult movie theaters sprang up to service an audience unwelcome in mainstream cinemas. Many of these adult theaters utilized reel-to-reel projectors that could handle fancy 35mm film and were equipped with better soundsystems. They began to favor porn loops from distributors that contained music over the action, maybe some dialogue even, as a means of attracting a broader customer base. (A group of dudes sitting silently in a theatre watching intercourse was apparently a turn-off for some people.) Adult films became a communal experience, albeit still mostly for men. 

				p.
					They also became an musical genre unto themselves, as filmmakers and even cinema owners themselves dubbed hastily snatched soundtracks over the loops, cobbled together from edited segments of pop songs and soundtracks and reel-reel-recordings by studio musicians with probably grander ambitions. The <em>boom chikka bow wow</em> soundtrack that that pops into your head when you hear “adult film”? That well-worn “porno groove” is an unkillable artifact from that period, an amalgamation of early funk (Booker T. and the M.G.’s “Green Onions” is the template), psychedelic rock, space age bachelor pad lounge music and – if the soundtrack featured pan flutes or a banjo, and it usually did – pastoral folk. Easily slapped over hardcore loops, which could then be stitched together with the flimsiest of plots to create a feature, porno grooves were extremely flexible.

				p.
					Although the exact origin of the porno groove is shrouded in mystery and probable embarrassment, it proved to be more lasting than its originators might have intended: Those wah-wah pedals, Hammond organ swirls and piercing hi-hats have stuck. Five compilations – 1999’s <em>Pornosonic: Unreleased 70s Porno Music</em> (compiled by porn prince Ron Jeremy), 2004’s <em>Wakka Chikka Wakka Chikka: Porn Music for the Masses</em>, 2009’s <em>Porno Groove: The Sound of 70s Adult Films</em>, 2011’s <em>Inside Deep Note: Music Of 1970’s Adult Cinema</em> and this year’s <em>The Sound of Sexploitation</em> – continue to exploit the titillating, tacky, endlessly fascinating genre. 

				p.
					Not incidental to all this was the introduction, in 1965, of the affordable Super-8 home movie camera, equipped with sound recording capability. The film was still expensive, not to mention risky, to develop (amateur adult film impresarios were developing film in their bathtubs right up until the introduction of VHS), but allowed for great freedom of mobility and, with dialogue, semblances of plot. Filmmakers experimented wildly with soundtracks as well, cutting and pasting funk hits in the background and experimenting with cutting and dubbing. (Percussive, bongo-based tracks were favored, since they tended to best survive any warping or projection glitches.) 

				.video-outer.video-right
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/QtRO6X3g10k")
					.video-caption I, A Woman, trailer

				p.
					The new ‘60s adult theater circuit also offered cross-over potential, especially as risque European art films like 1967’s Swedish <em>I Am Curious (Yellow)</em> and 1969’s <em>Language of Love</em> were rocketed to international success due to headline-grabbing censorship attempts. Despite the realist production values (<em>Yellow</em>, part political statement, part Godard wannabe, had no soundtrack; <em>Language</em>, a faux-documentary, featured couples humping to Ravel’s <em>Bolero</em>) these films – along with others like <em>I Am a Nymphomaniac</em>, <em>Inga and Greta</em> (whose theme was composed by Benny Andersson and Björn Ulvaes of ABBA), <em>I, a Woman</em> and <em>Eugenie... The Story of Her Journey into Perversion</em> – awakened a yearning for fuller, more lavish adult film productions, ones that could cater to both the adult circuit and mainstream audiences. 

				p.
					The apogee of the softcore Euro invasion, 1972’s <em>Last Tango in Paris</em>, throbbed with soaring horns and weepy strings from Gato Barbieri and his orchestra, becoming a soundtrack classic. At the less pretentious end of the spectrum, the gothic sitars and brassy psych jazz provided by composers Manfred Hübler and Sigi Schwab for <em>Vampyros Lesbos</em> (1971) and Gert Wilden and Orchestra’s chugging, spacey acid rock for the early ‘70s <em>Schoolgirl Report</em> movies were re-released as bestsellers in the mid-1990s, at the height of the porno groove revival. 

				p.
					One fantastically weird development that came out of this period: 1968 Italian mondo film <em>Sweden: Heaven and Hell</em>, about lesbian nightclubs and the Scandinavian swingers scene birthed one of the infernally catchiest tunes in pop history, “Ma nah ma nah,” written by Piero Umiliani and inexplicably adopted by the Muppets, who made it famous. 

				.video-outer.video-left
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/8N_tupPBtWQ")
					.video-caption The Muppets - Mahna Mahnam

				p.
					In 1972, two films slaked the desire for big crossover hits that featured more hardcore sex, which ushered in the Golden Era of adult films – and made the soundtrack an integral part of the experience. <em>Behind the Green Door</em> and <em>Deep Throat</em> grabbed the adult American imagination and finally broke onscreen sex into the mainstream. 

				p.
					<em>Behind the Green Door</em> is mostly wordless – star Marilyn Chambers has no dialogue at all – so composer Daniel LeBlanc’s soundtrack carries the film, taking advantage of its underground San Francisco locations (the movie chronicles Chambers’ introduction to the city’s wild nightlife) and cult-like sex scenes to indulge in a few funky freakouts and psychedelic breakdowns. The film boasted full music and sound departments. Directed and produced by San Francisco strip club impresarios the Mitchell Brothers and boasting full music and sound departments, <em>Green Door</em> deliberately put the soundtrack high in the mix – the brothers knew that potential patrons passing by theaters would be intrigued by what they heard coming from inside. 

				p.
					<em>Deep Throat</em> took another tack, a hardcore movie aiming for soft pop success and oddball whimsy – and scoring as a pop culture juggernaut that broke box office records. Bubblegum pop (“Blowin’ Bubbles”), showtune excess (“Deep Throat”), breezy light rock (“La La La”) and kooky snippets of dialogue round out what was eventually released as a double album. What made the movie, and the soundtrack, especially famous – beyond the fact that it was the first real mainstream porn – was that the FBI seized the masters of both the film and the music in the wake of the many obscenity trials that were to follow the movie’s release. The soundtrack is still regarded as a classic; vinyl copies sell for well into the hundreds of dollars. 


				.pop-ad.style2(data-title="SORRY!!!",
					data-msg="Looks like all our babes are currently busy. Close this window and keep scrolling to learn more about the sexy '70s",
					data-img="images/bum.gif")
					.pop-ad-text
						h2 Part 2: Slipping Into Porn Chic
						h4 Hot Babes Are Waiting 4 U. Click here to get online!!!
					.pop-ad-image
						img(src="images/edits/17.jpg")

				p.
					Those two films, along with others like <em>Mona</em> (acknowledged to be the link between 8mm film loops and full production features), <em>Boys in the Sand</em> (the first wide release gay-themed film, and the first reviewed by <em>Variety</em> magazine), <em>The Devil in Miss Jones</em>, <em>The Opening of Misty Beethoven</em>, <em>Debbie Does Dallas</em> and more ushered in an era of porn chic, influencing everything from fashion to Hollywood film soundtracks. Hundreds of full features were rushed through production, and included large casts and technical crews, special effects and artsy details, and fully credited soundtrack composers, sound editors and post-production technicians. 

				p.
					A couple notable soundtracks from this era: legendary funk drummer <a href=http://www.redbullmusicacademy.com/lectures/bernard-purdie--give-the-drummer-some>Bernard “Pretty” Purdie</a>’s groovy soundtrack for 1974 sexploitation-Blaxploitation groundbreaker <em>Lialeh</em> and Alden Shuman’s haunting soft rock for 1973’s <em>The Devil in Miss Jones</em>. But the rush for the next <em>Deep Throat</em> also meant some corners were cut, especially when it came to music. 

				.video-outer.video-right
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/pFsjFojd3xQ")
					.video-caption The Devil in Miss Jones


				p.
					“We basically stole it, most of the time,” laughed golden-age adult film director and star William Margold when I asked him about the origins of porno groove. “Well, at worst we stole it. At best, we plagiarized with good intentions. This was during an era when, despite enormous successes, we were still an outlaw business, making movies that were outlawed. So even our soundtracks operated outside the law.”

				p.
					In his 40-year career, Margold has appeared in more that 500 scenes in 300 movies. He’s also directed dozens of them, from on-the-fly parodies to 
					full productions. Now he acts as a porn historian (he prefers the term “practorian” since “Hey, I’ve done it all”) and writes the film review column for the <em>LA Xpress</em> adult magazine. “Ennio Morricone was the big one – there was something about his soundtrack work that was just so visceral, but also could be very funky. If you ran most of the adult films from the ‘70s through a program, most of the music would come up Morricone. We thought he would get that we were giving him a whole new audience. Either that or he would too embarrassed to go after us.

				p.
					“It was a period when you had absolute artistic freedom – and we aspired to art, even in the movies with less than a few days’ turnaround. The music was essential. Many of us were auteurs. We had delusions of grandeur. We felt we could compete with the big guys. <em>The Opening of Misty Beethoven</em> was filmed in three countries with an original score. <em>Midnight Cowboy</em> was the first X-rated picture to win an Oscar, and it had John Lennon’s backing band on the soundtrack.” As a favorite auteur example, he points to cult director Roger Watkins’ affecting and strange 1979 <em>Her Name Was Lisa</em>, an erotic film about the life of a dead heroin addict, for which Watkins wrote a Rolling Stones-esque semi-hit called “Don’t Let Go of Your Soul.” The movie also includes a note-perfect redo of Kraftwerk’s “Robots.” 

				p.
					“We had to operate in so many genres, because we did a lot of parodies,” Margold told me. “If you were doing something from a particular time period in a particular style, you wanted to get every detail right, from the look to the soundtrack. If you were doing <em>Backside to the Future</em>, you really tried to nail it.” 

				.video-outer.video-left
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/t2MKEbb6-FE")
					.video-caption Marilyn and the Senator

				p.
					Margold continued: “And in some places, sure, we’d take it over the top. In <em>Marilyn and the Senator</em>” – a renowned 1975 flick that plays off Washington’s post-Watergate chaos, stars assistant director Margold as the Senator, and received a deluxe DVD reissue last year – “we used Mussorgsky’s ‘Great Gate of Kiev.’ Now that was pretty bombastic. We just thought, ‘What a great piece of music for the cumshot.’” (Because it’s often royalty-free, you’ll find a lot of classical music on golden age porn soundtracks. One famous example: <em>The Opening of Misty Beethoven</em> uses the “William Tell Overture” during a climactic scene.) 

				p.
					For many of his movies, Margold worked with one of the biggest names in original adult film soundtrack writing, Jimmy Mack, the nom-de-porn of Grant Saidiner, who composed music for <em>Deep Throat II</em>, <em>Sleazy Rider</em>, <em>Return to Camp Beaver Lake</em> and “too many more to count,” Saidiner told me from his Los Angeles home. His career spanned three decades, until multiple sclerosis forced his retirement in the ‘90s. 

				p.
					Working off a four-track reel-to-reel, Saidiner would compose and sequence his tracks to the edited VHS tapes that Wardlaw and others would provide. “I would do my best to create not only music that would highlight the moods of specific scenes,” Saidiner said, “but to make the film come together as a whole.” 

				p.
					“Grant was known as a one-man band in the industry, because he would handle all the instrumentation, playing piano, organ and synthesizers,” Epstein told me. “Of course, for the bigger productions, we would have a full band in here: saxophones, violins, guitars, vocals. He once had me and our neighbors in to sing the chorus on a film called <em>Lesbo A Go-Go</em> and now whenever we see each other, even 20 years later, we can’t stop singing ‘Lesbo A Go-Go, Lesbo A Go-Go, Lesbo A Go-Go!’” 

				.pop-ad.style1(data-title="IMPORTANT!!!",
					data-msg="Looks like you’re safe for now! Close this window to keep reading about the porn music of the 80s and 90s",
					data-img="images/bling.gif")
					.pop-ad-text
						h2 Part 3: Ramming It Home
						h4 Your computer may have a virus!!!
						button Click Here To Remove!!!!
					.pop-ad-image
						img(src="images/edits/19.jpg")

				p.
					The dawn of the VHS era in the 1980s meant anyone with a camcorder and a viable body part could make porn; paradoxically, though, it also ushered in a strong period for the big business of adult film studios, even as it took people out of the theaters and back to their own bedrooms. 

				p.
					This was the age of flashy brand names and high-profile stars, the heyday of San Francisco and the San Fernando Valley studio systems, when the films got a little cheaper but the money flew. Hair grew feathered, noses bled and saxophones bleated stratospherically from glossy, overproduced soundtracks that often reminded one more of hold music than slipping between the silky sheets. 
				p.
					But soon studios like Vivid (straight) and Falcon (gay) were pumping out so many video cassettes that live musical accompaniment became impractical – and with the heightened scrutiny the golden age of porn had accrued, sampling and stealing meant interminable legal complications. Producers turned to licensing music from small record label and commissioning composers to build up sound libraries that could be accessed for multiple productions.

				.video-outer.video-right
					.video-poster
						img(src="http://image.redbull.com/rbx00786/0100/0/486/Screen%20Shot%202015-11-13%20at%204.36.27%20PM.d5e7008d.png")
					.video-inner(data-src="https://www.youtube.com/embed/UD-kzys5AKY")
					.video-caption Patrick Cowley - Deep Inside You

				p.
					The frenetic pace of production also opened the door for electronic composers, and here’s where the music changed from <em>boom chikka bow bow</em> to some of the more chromatic squelches and spacier tones of early synthesizers. At least one electronic music genius, Patrick Cowley, emerged from this period. Credited with inventing the Hi-NRG post-disco sound with singer Sylvester and others, he composed epic porn soundscapes used in Fox Studios productions <em>School Daze</em> and <em>Muscle Up</em> on his own collection of analog synths, modified guitars and self-constructed equipment. The dreamlike scores were oscillated up or down to match the onscreen action, furthering the psychedelic effect. Cowley’s porn soundtracks are steadily being released by the Dark Entries label, and garnering attention for pioneering a certain form of intelligent, emotional sleaze. 

				p.
					But electronics didn’t mean that live music was completely pushed out – sometimes, music became the actual subject of the film, as in probably the most famous porn film of the ‘80s, <em>New Wave Hookers</em>, produced by the Dark Brothers from 1985. Starring an underage Traci Lords (who went on to become a singer and DJ of sorts in the late ‘90s), <em>New Wave Hookers</em>’ plot revolved around sudden, uncontrollable urges sparked by listening to New Wave songs, and included a hit with “Electrify Me” by the Plugz. (Porn aesthetics were making their way to the dance floor and radio as well, from <a href=http://daily.redbullmusicacademy.com/2015/08/uncle-luke-interview>2 Live Crew</a>’s rauchy rhymes to early Chicago house’s run of sex tracks, culminating in Lil Louis’ moan-soaked international hit “French Kiss.”)

				.pop-ad.style3(data-title="IMPORTANT!!!",
					data-msg="Your computer is now secure! :) Close this window to keep reading about the porn music of today",
					data-img="images/bling.gif")
					.pop-ad-text
						h2 Part 4: Too Much Is Never Enough
						h4 Click here to clear your history
						button You never who’s watching!!!!
					.pop-ad-image
						img(src="images/edits/21.jpg")

				p.
					The giddy oversaturation of studio porn titles continued through the DVD age of the ‘90s, until digital cameras and the Internet began flooding the market with amateur clips, replacing soundtracks with ambient noise – barking dogs, washing machines, door bells, ringtones, chat notifications, outside traffic, radio talk shows, hip hop mixtapes, other porn from the TV or computer. The pressure now on major porn studios, beyond just staying afloat in a sea of free competition, is to emulate the amateur aesthetic just enough to tap into its fans. 

				p.
					“Most of the music in a production now is found in the trailer,” Eric Weaver, sound editor for digital behemoth Kink.com. “The trailer gets most of the production attention now in terms of sound and editing because that’s what we need to grab peoples’ attention online, to draw them into the site to view full scenes. So when I edit down the trailer, I basically grab what I can from the Internet, manipulate it enough so it’s unrecognizable, and use it for the scene. 

				p.
					“We still may use some musical cues to heighten tension in a scene. Say, if there’s a chase. But it’s pretty rare in porn these days to soundtrack any dialogue or action,” Warner, who started out making skateboarding videos and playing in rock bands, says. “The aesthetic is to just let the scene play out. People want the sound of skin-on-skin, or to be immersed in the location – if it’s a dungeon, or a cabin in the woods, or one of our fantasy stages, like the Battlestar Galactica or Fucking Machines stage.”

				p.
					Warner says Kink.com usually films scenes on many of its channels with a single camera mounted with a microphone. “I think one of the reasons porn soundtracks became such a thing in the past was that they had to work around the available technology, like sound booms and analog tracking. But today that little mic on our cameras picks up every sound. And with something like Fucking Machines” – Kink.com’s robotic dildo channel – “people just want to watch the machines do their thing. The model comes into the room and switches on the machine, and it starts quiet and slow, and then goes fast and loud, and that’s it. The model’s talent and the situation is what carries it. That’s what the patron wants to hear: the machine and the model.”

				p.
					In fact, today’s camera microphones pick up a little <em>too</em> much. “A lot of my job as sound editor is actually removing sounds,” from the director’s instructions to any unfortunate body noises. Then, in a bit of Foley Room-type magic, he adds back in “natural” sounds to make the scene more vivid: “skin slaps, gasps, moans, fabric rustling, palms rubbing down a face.” 

				p.
					In a novel inversion of the typical porn music formula, Kink.com just released what it claims to be the first porn clip based solely on a music video, “Bitch Better Lick My Honey,” a softcore send-up of Rihanna’s “Bitch Better Have My Money” by director Five Star. “No murder, like in the original,” Five Star told me. “But there’s plenty of upside-down bondage.” 

				p.
					As porn continues to supersoak our screens – and our culture – the unraveling music industry and the online porn explosion continue to spoon and grapple in novel ways. It’s not unusual to be served up a hip hop video or a promo for a Katy Perry-wannabe’s new album before your PornHub clip loads. (In fact there’s a whole PornHub category for salacious World Star Hip-Hop videos, a synergy anyone could have seen coming.) Musicians freely <a href=http://blogs.ocweekly.com/heardmentality/2012/10/five_hip-hop_artists_who_actua.php>cross over into porn</a>, porn stars <a href=http://www.djbooth.net/index/news/entry/porn-stars-music-videos>permeate music video</a>, pop stars fake-leak dick pics and sex tapes to promote their latest releases. We’re one step away from a fully functional record label/porn studio platform that completes the loop, conquering Billboard and Bangbus simultaneously.

				p.
					Oncoming advanced technology offers new openings for electronic music and sound design, as well. Immersive augmented reality, holographic projection, responsive toys and scary-lifelike sex dolls demand a soundtrack that gamely straddles the synthesized and hyperreal. Downloadable “realistic sex sounds” sample packs are already widely available for soon-to-be downloadable, possibly 3-D printed partners. The music of porn may become as flexible as a Spotify list and as interactive as <em>Grand Theft Auto</em>, a personalized plug-and-play that hops with you from site to site.

				p.
					But maybe that’s overloading an experience where a little cheese is a big part of the point. A good ol’ <em>boom chikka bow bow</em> does have its place. And it could be, for now at least, we’re just happy to stroke our backlit keyboards, the sound of foreign bodies thrusting softly in our earbuds.


				p.end-social
					span.share-icon.twitter(data-site="twitter")
					span.share-icon.facebook(data-site="facebook")


				footer
					img.footer-logo(src="images/footer-logo.svg")

					.footer-title Red Bull Music Academy Daily

					p.footer-text.
						The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

					.sitemap
						.cell
							.link
								a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
							.link
								a(href="http://www.redbullmusicacademy.com/about") About
							.link
								a(href="http://www.redbullmusicacademy.com/events") Events
							.link
								a(href="http://www.redbullmusicacademy.com/lectures") Lectures

						.cell
							.link
								a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
							.link
								a(href="http://daily.redbullmusicacademy.com/features") Features
							.link
								a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
							.link
								a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
							.link
								a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
							.link
								a(href="http://daily.redbullmusicacademy.com/videos") Videos
							.link
								a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

						.cell
							.link
								a(href="http://www.rbmaradio.com/") RBMA Radio
							.link
								a(href="http://www.rbmaradio.com/categories") Interviews & Features
							.link
								a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
							.link
								a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

						.footer-social
							a(href="http://www.facebook.com/RedBullMusicAcademy")
								.social-icon.facebook
							a(href="http://twitter.com/rbma")
								.social-icon.twitter
							a(href="http://www.youtube.com/user/redbullmusicacademy")
								.social-icon.youtube
							a(href="http://www.vimeo.com/redbullmusicacademy")
								.social-icon.vimeo
							a(href="http://www.redbullmusicacademy.tumblr.com/")
								.social-icon.tumblr
							a(href="http://www.soundcloud.com/redbullmusicacademy")
								.social-icon.soundcloud
							a(href="http://www.instagram.com/redbullmusicacademy")
								.social-icon.instagram

						.footer-legal
							p
								span © Red Bull 2015 |
								span 
									a(href="http://www.redbullmusicacademy.com/p/terms") Terms & Conditions |
								span
									a(href="http://www.redbull.com/en/data-privacy-policy") Privacy Policy |
								span
									a(href="http://www.redbullmusicacademy.com/p/legal-notice") Legal Notice |
								span
									a(href="http://www.redbullmusicacademy.com/p/contact-us") Contact Us |
								span
									a(href="http://www.redbullmusicacademy.com/p/newsletter") Newsletter





		script(src="js/bundle.js")